*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
.card-container{
    margin:23px;
    margin-left:40px;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-endt;
    grid-template-colums: 1fr 1fr 1fr; 
    gap:18px;
}

.body{
    background:


}

 .main-container{
    margin:0;
    background:black;
}